.card-categoria {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 140px;
  border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  padding: 0.5rem;
  /* border: 0.5px solid #cbe4de; */
}

.ImgCardCategoria {
  height: 80px;
  width: 150px;
}

.texto-card-categoria {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 18px;
  color: #717171;

  /* ----------- Borrar despues de poner dinamicas las categorias */
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el contenido que excede el ancho */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el contenido excede el ancho */
  max-width: 200px; /* Ajusta este valor según el ancho deseado */
}
