
.segmento-categorias {
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    /* padding: 1rem 2rem; */
    /* border-radius: 11px 11px 0 0; */
    /* border-bottom: 0.5px solid #cbe4de; */
    width: 95vw;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    /* padding-bottom: 1rem; */
    overflow: hidden;
    white-space: nowrap;
    
  }
  

.txt-titulo-servicio {
  font-size: 20px;
  color: #717171;
  margin: 0px;
}

.nombre-icono-categoria {
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #717171;
}
