.categorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 150px;
    gap: 0.2rem;
    /* padding: 0 2rem; */
    
}

.txt-titulo-servicio {
    font-size: 20px;
    color: #717171;
}

.segmento-categorias {
    margin-top:1rem;
     padding: 0 2rem; 
    border-radius: 11px 11px 0 0; /* Borde inferior redondeado */
    -webkit-border-radius: 11px 11px 0 0;
    -moz-border-radius: 11px 11px 0 0;
    /* padding: 0.5rem; */
    border-bottom: 0.5px solid #cbe4de;

}

/* .card-categoria{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;

} */
