.segmento-listado-productos {
  /* display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center; */
  width: 100%;
  margin: 0;
  /* position: relative; */
  z-index: 0;
}
.txt-titulo-listado-productos {
  font-size: 20px;
  color: #717171;
  /* content: ""; */
}
/* .listado-productos {
  border: 1px solid red;
} */

.item-grid {
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.grid-container {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  @media (max-width: 1900px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 370px) {
    grid-template-columns: 1fr;
  }
}
