.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 100vh; */
  height: 50px;
  margin-top: 1rem;
  padding: 0 2rem;
  background-color: #2E4F4F;
  color: white;
  
}
